﻿@{
    ViewBag.Title = @WebApplication8.Resources.lang.il1;
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">@WebApplication8.Resources.lang.il1!<small>@WebApplication8.Resources.lang.il2</small></h1>
            <ol class="breadcrumb">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li class="active">@WebApplication8.Resources.lang.il1</li>
            </ol>
        </div>
        <div class="col-lg-12">
            <!-- Embedded Google Map using an iframe - to select your location find it on Google maps and paste the link as the iframe src. If you want to use the Google Maps API instead then have at it! -->
            <iframe width="100%" scrolling="no" height="400px" frameborder="0" src="http://maps.google.com/maps?hl=en&amp;ie=UTF8&amp;ll=37.0625,-95.677068&amp;spn=56.506174,79.013672&amp;t=m&amp;z=4&amp;output=embed" marginwidth="0" marginheight="0"></iframe>
        </div>
    </div><!-- /.row -->
    <div class="row">
        <div class="col-sm-8">
            <form action="iletisimkur.aspx" method="POST" role="form">
                <div class="row">
                    <div class="form-group col-lg-4">
                        <label for="input1">@WebApplication8.Resources.lang.il3</label>
                        <input type="text" id="input1" class="form-control" name="contact_name">
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="input2">@WebApplication8.Resources.lang.il4</label>
                        <input type="email" id="input2" class="form-control" name="contact_email">
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="input3">@WebApplication8.Resources.lang.il5</label>
                        <input type="phone" id="input3" class="form-control" name="contact_phone">
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-lg-12">
                        <label for="input4">@WebApplication8.Resources.lang.il6</label>
                        <textarea id="input4" rows="6" class="form-control" name="contact_message"></textarea>
                    </div>
                    <div class="form-group col-lg-12">
                        <input type="hidden" value="contact" name="save">
                        <button class="btn btn-primary" type="submit">@WebApplication8.Resources.lang.il7</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-4">
            <h3>Ali İhsan ÇELİK</h3>
            <h4>@WebApplication8.Resources.lang.il8 - b151210087</h4>
            <p>
                Sakarya @WebApplication8.Resources.lang.il9.<br>
                Esentepe @WebApplication8.Resources.lang.il10<br>
            </p>
            <p><i class="fa fa-phone"></i> <abbr title="Phone">T</abbr>: (532) 772-5988</p>
            <p><i class="fa fa-envelope-o"></i> <abbr title="Email">E</abbr>: <a href="mailto:merakla25@gmail.com">merakla25@gmail.com</a></p>
        </div>
    </div><!-- /.row -->
</div>