﻿@{
    ViewBag.Title = @WebApplication8.Resources.lang.ss;
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                @WebApplication8.Resources.lang.ss
                <small>@WebApplication8.Resources.lang.ss9</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink(@WebApplication8.Resources.lang.anasayfa, "Home1", "Blog")
                </li>
                <li class="active">@WebApplication8.Resources.lang.ss</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div id="accordion" class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#collapseOne" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">
                                @WebApplication8.Resources.lang.ss1
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" id="collapseOne" style="height: 0px;">
                        <div class="panel-body">
                           @WebApplication8.Resources.lang.ss2
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#collapseTwo" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">
                                @WebApplication8.Resources.lang.ss3
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" id="collapseTwo" style="height: 0px;">
                        <div class="panel-body">
                               @WebApplication8.Resources.lang.ss4
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#collapseThree" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">
                                @WebApplication8.Resources.lang.ss5
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" id="collapseThree">
                        <div class="panel-body">
                            @WebApplication8.Resources.lang.ss6
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#collapseFour" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">
                                @WebApplication8.Resources.lang.ss7
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" id="collapseFour">
                        <div class="panel-body">
                              @WebApplication8.Resources.lang.ss8
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>