﻿@{
    ViewBag.Title = @WebApplication8.Resources.lang.hakkimizda8;
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                @WebApplication8.Resources.lang.hakkimizda8
                <small>@WebApplication8.Resources.lang.hakkimizda9</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink(@WebApplication8.Resources.lang.anasayfa, "Home1", "Blog")
            </li>
            <li class="active">@WebApplication8.Resources.lang.hakkimizda8</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>@WebApplication8.Resources.lang.hakkimizda</h2>
        <p>@WebApplication8.Resources.lang.hakkimizda2</p>
        <p>@WebApplication8.Resources.lang.hakkimizda3</p>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">@WebApplication8.Resources.lang.hakkimizda4</h2>
    </div>
    <div class="col-sm-4">
        <img src="~/Resources/ali.jpg" width="200" height="200" class="img-responsive">
        <h3>
            @WebApplication8.Resources.lang.hakkimizda5 
            <small>@WebApplication8.Resources.lang.hakkimizda6</small>
        </h3>
        <p>@WebApplication8.Resources.lang.hakkimizda7</p
    </div>
</div>
<!-- Our Customers -->
</div>