﻿@model WebApplication8.Models.Hikaye

@{
    ViewBag.Title = @WebApplication8.Resources.lang.ok4;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>@WebApplication8.Resources.lang.ok4</h2>

    <h3>@WebApplication8.Resources.lang.ok5</h3>
    <div>
        <h4>@WebApplication8.Resources.lang.ok6</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.HikayeAdi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HikayeAdi)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Hicerik)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Hicerik)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Uye)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Uye)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Yazar)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Yazar)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Tarih)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Tarih)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="@WebApplication8.Resources.lang.ok7" class="btn btn-default" /> |
                @Html.ActionLink(@WebApplication8.Resources.lang.ok2, "Index")
            </div>
        }
    </div>
    </div>