﻿@model WebApplication8.Models.Hikaye

@{
    ViewBag.Title = @WebApplication8.Resources.lang.ok3;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>@WebApplication8.Resources.lang.ok3</h2>

    <div>
        <h4>@WebApplication8.Resources.lang.ok6</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.HikayeAdi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HikayeAdi)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Hicerik)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Hicerik)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Uye)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Uye)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Yazar)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Yazar)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Tarih)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Tarih)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink(@WebApplication8.Resources.lang.ok1, "Edit", new { id = Model.HikayeID }) |
        @Html.ActionLink(@WebApplication8.Resources.lang.ok2, "Index")
    </p>
    </div>