﻿@model WebApplication8.Models.Hikaye
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = @WebApplication8.Resources.lang.ok9;
    Layout = "~/Views/Shared/_Layout.cshtml";
  //   Layout = "~/Views/Shared/EditorTemplates/tinymce_jquery_full.cshtml";
}
<div class="container">
    <h2>@WebApplication8.Resources.lang.ok9</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>@WebApplication8.Resources.lang.ok6</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.HikayeID)

            <div class="form-group">
                @Html.LabelFor(model => model.HikayeAdi, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.HikayeAdi, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.HikayeAdi, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Hicerik, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="editor-field">
                    @Html.EditorFor(model => model.Hicerik)
                    @Html.ValidationMessageFor(model => model.Hicerik, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.HiddenFor(model => model.Uye, new { @Value = User.Identity.GetUserName() })
            @Html.HiddenFor(model => model.Tarih, new { @Value = DateTime.Now.ToString() })

            <!-- 
                        <div class="form-group">
                @Html.LabelFor(model => model.Uye, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Uye, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Uye, "", new { @class = "text-danger" })
                </div>
            </div>
                        <div class="form-group">
                @Html.LabelFor(model => model.Tarih, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Tarih, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Tarih, "", new { @class = "text-danger" })
                </div>
            </div>  
                    
            -->
            <div class="form-group">
                @Html.LabelFor(model => model.Yazar, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Yazar, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Yazar, "", new { @class = "text-danger" })
                </div>
            </div>

  

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="@WebApplication8.Resources.lang.pk1" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink(@WebApplication8.Resources.lang.ok2, "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
    </div>