﻿@model IEnumerable<WebApplication8.Models.Hikaye>
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = @WebApplication8.Resources.lang.pk3;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>@WebApplication8.Resources.lang.pk3</h2>
    <p>
        @Html.ActionLink(@WebApplication8.Resources.lang.pk2, "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HikayeAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uye)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Yazar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tarih)
            </th>
            <th>
                @WebApplication8.Resources.lang.pk4
            </th>
        </tr>
        @if (User.IsInRole("Admin"))
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.HikayeAdi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Uye)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Yazar)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tarih)
                    </td>
                    <td>
                        @Html.ActionLink(@WebApplication8.Resources.lang.pk5, "Edit", new { id = item.HikayeID }) |
                        @Html.ActionLink(@WebApplication8.Resources.lang.ok3, "Details", new { id = item.HikayeID }) |
                        @Html.ActionLink(@WebApplication8.Resources.lang.ok7, "Delete", new { id = item.HikayeID })
                    </td>
                </tr>
            }
        }
        else
        {
            foreach (var item in Model)
            {
                if(item.Uye == User.Identity.GetUserName())
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.HikayeAdi)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Uye)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Yazar)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tarih)
                        </td>
                        <td>
                            @Html.ActionLink(@WebApplication8.Resources.lang.pk5, "Edit", new { id = item.HikayeID }) |
                            @Html.ActionLink(@WebApplication8.Resources.lang.pk3, "Details", new { id = item.HikayeID }) |
                            @Html.ActionLink(@WebApplication8.Resources.lang.ok7, "Delete", new { id = item.HikayeID })
                        </td>
                    </tr>
                }
            }
        }
       

    </table>
</div>