﻿@model WebApplication8.Models.IndexViewModel
@{
    ViewBag.Title = @WebApplication8.Resources.lang.mg1;
}
<div class="container">
    <h2>@ViewBag.Title.</h2>

    <p class="text-success">@ViewBag.StatusMessage</p>
    <div>
        <h4>@WebApplication8.Resources.lang.mg2</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>@WebApplication8.Resources.lang.mg3:</dt>
            <dd>
                [
                @if (Model.HasPassword)
            {
                    @Html.ActionLink(@WebApplication8.Resources.lang.mg4, "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
                ]
            </dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>@WebApplication8.Resources.lang.mg5:</dt>
            <dd>
                @if(User.IsInRole("Admin"))
                {
                    <strong>Admin</strong>
                }
                else
                {
                    <strong>Normal</strong>
                }
            </dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>@WebApplication8.Resources.lang.mg6:</dt>
            <a href="/Hikayes/Index"><img src="~/Resources/hikayeler.png" /> </a>
        </dl>
    </div>
</div>