﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logoff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink(@WebApplication8.Resources.lang.wel + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">@WebApplication8.Resources.lang.cikis</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink(@WebApplication8.Resources.lang.ka, "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink(@WebApplication8.Resources.lang.ka1, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
<ul class="nav navbar-nav ">
    <li>@Html.ActionLink("English", "ChangeCulture", "Blog", new
   {
       lang = "en",
       returnurl =
this.Request.RawUrl
   }, null)</li>
    <li>@Html.ActionLink("Türkçe", "ChangeCulture", "Blog", new
   {
       lang = "tr",
       returnUrl =
this.Request.RawUrl
   }, null)
</li>
</ul>

