﻿@model IEnumerable<WebApplication8.Models.Hikaye>
@{
    ViewBag.Title = @WebApplication8.Resources.lang.anasayfa;
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                @WebApplication8.Resources.lang.cm6
                <small>@WebApplication8.Resources.lang.cm7</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink(@WebApplication8.Resources.lang.anasayfa, "Index", "Home")
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            @foreach (var item in Model)
            { 
            <h1>
                <a href="#@Html.DisplayFor(modelItem => item.HikayeAdi)">@Html.DisplayFor(modelItem => item.HikayeAdi)</a>
            </h1>
            <p class="lead">
                Yazar <a href="#">@Html.DisplayFor(modelItem => item.Yazar)</a>  Paylaşan Üye <a href="#">@Html.DisplayFor(modelItem => item.Uye)</a>
                Düzenlenme Tarihi:<i class="fa fa-clock-o"> @Html.DisplayFor(modelItem => item.Tarih)</i>
            </p>
            <hr>         
            <p>@Html.Raw(item.Hicerik.ToString())</p>
            <hr>
            }
            <ul class="pager">
                <li class="previous">
                    <a href="#">← @WebApplication8.Resources.lang.cm4</a>
                </li>
                <li class="next">
                    <a href="#">@WebApplication8.Resources.lang.cm5 →</a>
                </li>
            </ul>
        </div>
        <div class="col-lg-4">
            <div class="well">
                <h4>@WebApplication8.Resources.lang.cm3</h4>
                <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
                <!-- /input-group -->
            </div>
            <!-- /well -->
            <div class="well">
                <h4>@WebApplication8.Resources.lang.pk3</h4>
               
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="list-unstyled">
                            @foreach (var item in Model)
                            {
                                <li>
                                   <a href="#@Html.DisplayFor(modelItem => item.HikayeAdi)">@Html.DisplayFor(modelItem => item.HikayeAdi)</a>
                                </li>
                            }
                        </ul>
                    </div>
                   
                </div>
            </div>
            <!-- /well -->
            <div class="well">
                <h4>@WebApplication8.Resources.lang.cm1!</h4>
                <p>@WebApplication8.Resources.lang.cm2</p>
            </div>
            <!-- /well -->
        </div>
    </div>
</div>