﻿@{
    ViewBag.Title = "Forgot Password Confirmation";
}
<div class="container">
    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
    </hgroup>
    <div>
        <p>
            Please check your email to reset your password.
        </p>
    </div>

    </div>